*{
    background-color: black;
    color: white;
     text-align: center;
}

div {
    width: 100%;
    text-overflow: hidden;
}

img {
    border: 5px solid white;
    min-width: 380px;
    width: fit-content;
    max-width: 600px;
    height: 80vh;
}

h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}
